@import "tailwindcss";

.confirm-status {
    @apply flex flex-col items-center justify-center;
    margin-bottom: 20px;
}

.confirmed-title {
    font-weight: 700;
    font-size: 25px;
    color: #010157;
    text-align: center;
    margin-top: 20px;
}

.confirm-icon {
    margin: 60px 0px;
    width: 250px;
}

.appreciation-text {
    text-align: center;
    color: #010157;
    width: 300px;
}

.confirm-subscription {
    @apply flex flex-col items-center justify-center;
    margin-bottom: 50px;
}
