@import "tailwindcss";

.detail-cover {
    @apply flex flex-col items-center justify-center;
    width: 100%;
    height: 250px;
    background-color: #010157;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.detail-cateogry-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.detail-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 20px 0px 0px;
    border: 1px solid white;
    border-radius: 5px;
    @apply h-[30px];
    color: #010157;
    font-weight: 500;
    padding: 0px 20px;
    width: 80px;
    font-size: 15px;
    background-color: white;
}

.detail-content {
    text-align: center;
    @apply flex flex-col items-center justify-center;
}

.detail-content-top {
    margin-bottom: 10px;
    width: 100%;
}

.detail-company-info {
    @apply flex justify-center;
    text-align: left;
    margin-bottom: 10px;
}

.detail-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 70px;
    background-color: #010157;
    border-radius: 90px;
    margin: 0px 10px;
}

.detail-jobs {
    width: 100%;
    padding: 0px 30px;
}

.detail-name {
    color: #AEAEAE;
    font-size: 16px;
}

.detail-title {
    color: #010157;
    font-weight: 500;
    font-size: 20px;
}

.detail-posted {
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.detail-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.detail-description {
    text-align: left;
    padding: 0px 30px;
    margin-bottom: 20px;
}

.detail-location {
    text-align: left;
    padding: 0px 30px;
    margin-bottom: 20px;
    color: #4E4E4E;
}

.detail-location-label {
    text-align: left;
    padding: 0px 30px;
    color: #4E4E4E;
}

.detail-pay {
    color: #010157;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    padding: 0px 30px;
}

.detail-buttons {
    margin-bottom: 100px;
}

.detail-create, .detail-apply {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    background-color: #010157;
    color: white;
    width: 160px;
    height: 45px;
    border-radius: 50px;
    font-size: 16px;
}

.detail-apply {
    background-color: white;
    color: #010157;
    border: 2px solid #F2F2F2;
    margin-bottom: 8px;
}

.detail-notice-text {
    text-align: center;
    margin: 30px 0px 50px 0;
    color: #4E4E4E;
    font-size: 16px;
}

.notice-highlight {
    color: #242424;
    font-weight: 500;
}

/* ----------------- Media Queries ------------------- */

/* Tablets and up */
@media (min-width: 768px) {
    .divide {
        width: 500px;
    }

    .detail-cover {
        margin-bottom: 20px;
        background-size: cover;
        height: 450px;
    }

    .detail-category {
        width: 120px;
    }

    .detail-content-top {
        width:600px;
    }

    .detail-notice {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .detail-notice-text {
        width: 500px;
    }
}


/* Desktop and up */
@media (min-width: 1024px) {
    .divide {
        width: 800px;
    }

    .detail-cover {
        margin-bottom: 30px;
        background-size: cover;
        height: 400px;
        margin-top: 60px;
    }

    .detail-category {
        width: 120px;
    }

    .detail-content-top {
        width: 1000px;
    }

    .detail-notice {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .detail-notice-text {
        width: 800px;
    }

    .detail-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .detail-apply {
        margin-right: 10px;
    }

    .divide {
        background-color: #eeeeee;
        width: 1000px;
    }
}