@import "tailwindcss";

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* header */

.header {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    @apply bg-white;
    position: fixed;
    width: 100%;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #010157;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.menu-link {
    font-size: 20px;
    color: white;
    font-weight: 200;
    line-height: 2;
}

.menu-link:active {
    color: yellow;
    font-weight: 300;
}

.close_menu {
    @apply w-[44px];
    margin-bottom: 50px;
}

.rcg_logo {
    @apply w-[80px];
    margin-top: 50px;
}

.circle {
    @apply w-[44px];
}

.menu-icon {
    @apply w-[40px];
}

/* main */

.content {
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: white;
    padding-top: 80px;
}

/* main content */

.hero {
}

.hero-image {
    background-color: #010157;
    @apply h-[220px];
}

.hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    font-weight: 800;
    padding: 20px 0;
    color: #010157;
}

.hero-text > p {
    width: 250px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-account, .browse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    background-color: #010157;
    color: white;
    width: 160px;
    height: 45px;
    border-radius: 50px;
    font-size: 16px;
}

.browse {
    background-color: white;
    color: #010157;
    border: 2px solid #F2F2F2;
    margin-top: 5px;
}

.featured {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    width: 100%;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}

.divide {
    width: 300px;
    background-color: #EDEDED;
    height: 2px;
}

.featured-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.featured-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.featured-job {
    width: 320px;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    @apply shadow-sm;
    margin-bottom: 25px;
}

.job-thumbnail {
    background-color: #010157;
    height: 300px;
    border-radius: 20px;
}

.job-data {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
    padding: 0px 15px;
}

.job-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.job-title {
    color: #010157;
    font-weight: 600;
    font-size: 18px;
}

.job-description {
    color: #AEAEAE;
    font-size: 15px;
}

.apply {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.apply > p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010157;
    width: 90px;
    height: 40px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
}

.company-icon {
    background-color: gray;
    @apply w-[45px] h-[45px] rounded-[30px];
    margin-right: 10px;
}

.categories {
    margin-bottom: 40px;
}

.categories-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.category-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.category > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    border: 2px solid #EDEDED;
    border-radius: 20px;
    @apply  w-[120px] h-[38px];
    color: #010157;
}

.company-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 0px 20px;
}

.rcg_company {
   width: 40px;
}

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.process-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.process-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vertical-track {
    height: 80px;
    background-color: #EDEDED;
    width: 2px;
    margin: 5px 0px;
}

.step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 20px;
}

.step-icon {
    @apply w-[60px] h-[60px] bg-gray-400 rounded-[30px];
    margin-bottom: 15px;
}

.step-title {
    font-size: 18px;
    color: #010157;
    font-weight: 500;
    width: 150px;
}

.step-description {
    color: #AEAEAE;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.about-image {
    width: 150px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.describe {
    color: #4E4E4E;
    font-weight: 200;
    font-size: 18px;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 100%;
}

.contact1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-icon {
   width: 25px;
   margin-bottom: 5px;
}

.contact-text {
    color:#4E4E4E;
    font-size: 16px;
}

.subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.subscription-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.subscription-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscription-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 30px;
    background-color: #010157;
}

.subscription-description {
    color: white;
}

.email {
    @apply flex flex-col items-center justify-center;
    @apply h-[35px] w-[250px];
    margin: 20px 0px;
    background-color: white;
    border-radius: 5px;
    color: #4E4E4E;
}

.subscribe {
    @apply flex flex-col items-center justify-center;
    @apply w-[120px] h-[35px];
    border: 1px solid white;
    color: white;
    font-size: 14px;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 500px;
    background-color: #010157;
    color: white;
    text-align: center;
}

.footer-link {
    font-weight: 200;
    line-height: 2.3;
}

.footer-link:active {
    color: yellow;
    font-weight: 300;
}

.top_nav {
    width: 35px;
    padding-bottom: 15px;
}

.footer_rcg {
    width: 75px;
    padding-bottom: 15px;
}

.copyright {
    font-weight: 100;
    font-size: 15px;
}

.links {
    margin: 15px 0px;
}

.social-buttons {
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.social {
    @apply w-[40px] h-[40px] bg-gray-400 rounded-[30px];
}

.logo {
    @apply w-[40px] h-[40px] bg-gray-400 rounded-[30px];
    margin-bottom: 15px;
}

