@import "tailwindcss";

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* header */

.header {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    @apply bg-white;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #010157;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 5px;
}

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #010157;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.menu-link {
    font-size: 20px;
    color: white;
    font-weight: 200;
    line-height: 2;
}

.menu-link:active {
    color: yellow;
    font-weight: 300;
}

.close_menu {
    @apply w-[44px];
    margin-bottom: 50px;
}

.rcg_logo {
    @apply w-[80px];
    margin-top: 50px;
}

.circle {
    @apply w-[44px];
}

.menu-icon {
    @apply w-[40px];
}

/* main */

.content {
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: white;
    padding-top: 80px;
}

/* main content */

.hero {
}

.hero-image {
    background-color: white;
    @apply h-[400px];
}

.hero-wrapper {
    width: 100%;
    height: 400px; /* adjust as needed */
    overflow: hidden;
  }
  
  .hero-swiper {
    width: 100%;
    height: 100%;
  }
  
  .hero-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
  }

.hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    font-weight: 800;
    padding: 20px 0;
    color: #010157;
}

.hero-text > p {
    width: 250px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-account, .browse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    background-color: #010157;
    color: white;
    width: 160px;
    height: 45px;
    border-radius: 50px;
    font-size: 16px;
}

.browse {
    background-color: white;
    color: #010157;
    border: 2px solid #F2F2F2;
    margin-top: 5px;
}

.featured {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    width: 100%;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}

.divide {
    width: 300px;
    background-color: #EDEDED;
    height: 2px;
}

.featured-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.featured-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.featured-job {
    width: 320px;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    @apply shadow-sm;
    margin-bottom: 25px;
}

.job-thumbnail {
    background-color: #010157;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.job-data {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
    padding: 0px 15px;
}

.job-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.job-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.job-pay {
    color: #010157;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    text-align: left;
}

.job-info {
    width: 100%
}

.job-title {
    color: #010157;
    font-weight: 600;
    font-size: 20px;
}

.job-description {
    color: #AEAEAE;
    font-size: 15px;
}

.apply {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.apply > p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010157;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.posted-stamp {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 16px;
    border-top: 2px solid #F2F2F2;
    width: 100%;
    margin-top: 20px;
    padding-top: 28px;
}

.company-icon {
    background-color: gray;
    @apply w-[45px] h-[45px] rounded-[30px];
    margin-right: 10px;
}

.categories {
    margin-bottom: 40px;
}

.categories-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.category-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.category > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    border: 2px solid #EDEDED;
    border-radius: 20px;
    @apply h-[38px];
    color: #4E4E4E;
    padding: 0px 20px;
}

.company-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 0px 20px;
}

.rcg_company {
   width: 40px;
}

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.process-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.process-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vertical-track {
    height: 80px;
    background-color: #EDEDED;
    width: 2px;
    margin: 5px 0px;
}

.step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 20px;
}

.step-icon {
    width: auto;
    margin-bottom: 15px;
}

.step-title {
    font-size: 18px;
    color: #010157;
    font-weight: 500;
    width: 150px;
}

.step-description {
    color: #AEAEAE;
    width: 200px;
    margin-top: 5px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.about-image {
    width: 150px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.company-profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.company-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
}

.company-profile-pic {
    width: 110px;
    margin-bottom: 10px;
}

.company-profile-name {
    color: #4E4E4E;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.profile-post {
    font-weight: 500;
    font-size: 18px;
    color: #010157;
}

.describe {
    color: #4E4E4E;
    font-weight: 200;
    font-size: 18px;
}

.company-description {
    width: 300px;
    text-align: center;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 100%;
}

.about-link {
    font-weight: 500;
    color: #010157;
}

.contact1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-icon {
   width: 20px;
   margin-bottom: 10px;
}

.contact-text {
    color:#4E4E4E;
    font-size: 16px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 30px;
    @apply h-[50px];
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    width: 320px;
    margin-top: 50px;
    border-radius: 15px;
}

.contact-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin: 50px;
}

.contact-fields > input {
    width: 100%;
    outline: none;
    background-color: white;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;
    font-family: Inter;
    border-radius: 4px;
}

.contact-fields > input::placeholder {
    color: #B9B9B9;
}

.contact-fields > textarea {
    width: 100%;
    outline: none;
    background-color: white;
    height: 130px;
    padding: 15px;
    margin-bottom: 20px;
    font-family: Inter;
    border-radius: 4px;
    resize: none;
}

.contact-fields > textarea::placeholder {
    color: #B9B9B9;
}

.contact-fields > textarea:focus, input:focus {
    border: 2px solid #010157;
    cursor: pointer;
}

.send-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AEAEAE;
    padding: 0px 25px;
    height: 40px;
    border-radius: 40px;
    margin-top: 20px;
    color: white;
}

.subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.subscription-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #010157;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
    @apply h-[50px];
}

.subscription-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscription-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 30px;
    background-color: #010157;
    border-radius: 15px;
}

.subscription-description {
    color: white;
}

.email {
    @apply flex flex-col items-center justify-center;
    @apply h-[35px] w-[250px];
    margin: 20px 0px;
    background-color: white;
    border-radius: 5px;
    color: #4E4E4E;
    padding: 0px 15px;
    outline: none;
    text-align: center;
    font-family: Inter;
}

.email::placeholder {
    text-align: center;
}

.subscribe-thanks {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.subscribe-thanks-note {
    color: yellow;
}

.subscribe {
    @apply flex flex-col items-center justify-center;
    @apply w-[120px] h-[35px];
    border: 1px solid white;
    color: white;
    font-size: 14px;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 500px;
    background-color: #010157;
    color: white;
    text-align: center;
}

.footer-link {
    font-weight: 200;
    line-height: 2.3;
}

.footer-link:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.footer-link:active {
    color: yellow;
    font-weight: 300;
}

.top_nav {
    width: 35px;
    padding-bottom: 15px;
}

.footer_rcg {
    width: 75px;
    padding-bottom: 15px;
}

.copyright {
    font-weight: 100;
    font-size: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.social-buttons {
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.social {
    @apply w-[40px] h-[40px] bg-gray-400 rounded-[30px];
}

.logo {
    @apply w-[40px] h-[40px] bg-gray-400 rounded-[30px];
    margin-bottom: 15px;
}

